* {
  margin: 0;
  padding: 0;
  z-index: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

header {
  padding: 2rem;
  background-color: #424242;
}

header img {
  margin-bottom: 1rem;
}

main {
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #66b9ff;
}

form {
  flex: 1;
}

form input,
form button,
form select,
.button {
  border: 2px solid #424242;
  border-radius: 10px;
  background-color: rgb(39, 39, 39);
  color: #fff;
  padding: 10px;
}

#spinner {
  vertical-align: middle;
  width: 20px;
  margin: 0 !important;
}

form input {
  width: calc(80% - 20px);
  outline: none;
}

form input:focus {
  border: 2px solid #66b9ff;
}

button {
  cursor: pointer;
}

button:hover {
  border: 2px solid #66b9ff;
  color: #66b9ff;
}

#alchemy {
  width: 100%;
  height: calc(100vh - 13rem);
}

.hidden {
  display: none;
}

table {
  overflow-x: scroll;
  border: 5;
  width: 100%;
}

table tr td,
table tr th {
  padding: 4px;
  text-align: left;
}

table tr td ul li {
  list-style-type: none;
}

table,
th,
td {
  border: 1px solid white;
}

.fighters {
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.fighters a {
  background-color: #424242;
  border-radius: 16px;
  margin: 8px;
  padding: 8px;
  width: 250px;
}

.fighters a:hover {
  background-color: #656565;
  margin: 8px;
  padding: 8px;
  width: 250px;
  -webkit-box-shadow: 0px 0px 80px 0px #66b9ff;
  -moz-box-shadow: 0px 0px 80px 0px #66b9ff;
  box-shadow: 0px 0px 80px 0px #66b9ff;
  color: white;
}

.fighters a img {
  height: 200px;
}

.fighters a img:hover {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: ready-to-fight 1s linear forwards infinite;
  animation: ready-to-fight 1s linear forwards infinite;
}

.fighters a p {
  font-size: 2em;
}

.fighters a p:hover {
  font-size: 2em;
}

.center {
  text-align: center;
}

@keyframes ready-to-fight {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
